# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
/Fengj.GSessions/bin/
/Fengj.GSessions/obj/
/Fengj.Maps/bin/
/Fengj.Maps/obj/
/Maths.Hex/bin/
/Maths.Hex/obj/
/Fengj.Logs/bin/
/Fengj.Logs/obj/